:root {
    --primarycolor: #fff;
    --dark: #212121;
    --accent: #ded008;
    --borderadius: 20px;
    --transition: all .4s ease-out;
}

.btn {
    padding: 1em 2em;
    border-radius: var(--borderadius);
    outline: none;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}

.btn--primary {
    background-color: var(--primarycolor);
    color: var(--dark);
    border: 1px solid var(--primarycolor);
}

.btn--secondary {
    background-color: transparent;
    color: var(--dark);
    padding: .5em 1em;
    border: 1px solid var(--dark);
    transition: var(--transition);
}

.btn--outline {
    background-color: transparent;
    color: var(--primarycolor);
    padding: .5em 1em;
    border: 1px solid var(--primarycolor);
    transition: var(--transition);
}

.btn--secondary:hover {
    background: var(--dark);
    color: var(--primarycolor);
}

.btn--medium {
    padding: 1em;
    font-size: 20px;
}

.btn--large {
    padding: 1em;
    font-size: 20px;
}

.btn--medium:hover,
.btn--large:hover {
    background: var(--primarycolor);
    color: var(--dark);
    transition: var(--transition);
}