@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primarycolor: #fff;
    --dark: #212121;
    --accent: #ded008;
    --borderadius: 20px;
    --transition: all .4s ease-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}